@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    font-family: "Google Sans Flex", sans-serif;
}

a{
    text-decoration: none;
    color: #F7F8F8;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
}
.btn{
    background-color: #43A548;
    padding: 10px 25px;
    border-radius: 20px;
    color: #F7F8F8;
}
.btn:hover{
    background-image: linear-gradient(to right, #43A548, #52E259);
}


p{
    font-weight: 400;
    font-size: 20px;
    color: #2C2B35;
    line-height: 25px;
}
.green_p{
    color: #43A548;
}
.green_p:hover{
    color: #327F36;
}

.menu{
    display: none;
}

body{
    background-color: #f4f1f1;
    margin-bottom: 100px;
}




    /* <!-- =================================================
                     NAVBAR SECTION
    ================================================= --> */

nav{
    display: flex;
}

.products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 60px;
}

.towars{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.towars h2{
    font-weight: 600;
    font-style: 25px;
}

.pages{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.pages li {
    list-style: none;
    font-size: 20px;
    font-weight: 400;
}

.pages li a{
    color: #2C2B35;
}
.pages li a:hover{
    color: #43A548;
}

.sign_in{
    color: #FFF;
    padding: 12px 20px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #43A548, #52E259);
}
.sign_in a{
    color: #FFF;
}
